html, body { 
    --color-orange: #FF6100;

    --color-gold: #EDB46C; 
  
    --color-gray: #c5d4d6; 
    --color-black:black; 
    --color-gold-black: #10120D; 
    --color-gold-gray: #21241a;
    --color-gold-gray2: #55553e;
    --color-white: #F7F8F8;
    margin: 0;
    padding: 0;
    
}

body {
    padding-top: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    /* height: 100vh; */
    margin:0 auto;
    background-image: url("assets/bg.svg");
    background-repeat: repeat;
    background-size: 16%;
    background-color: var(--color-gold-black);
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
   width: 75%;
   height: 85%;
   margin: 0 auto;
   max-width: 800px;
   max-height: 600px;
   /* border: 5px solid pink; */
}

.container {
    width: -webkit-fill-available;
    height: inherit;
    text-align: center;
    margin: 0 auto;
  
    background-color: var(--color-gold);
    box-shadow:
    0 0 0 8px var(--color-gold),
    0 0 0 16px var(--color-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 5px solid red; */
    z-index: -1;
   
}
.instructions {
    display: flex;
    justify-content: center;
    background-color: var(--color-black);
    box-shadow:
    0 0 0 8px var(--color-black),
    0 0 0 16px var(--color-black);
    margin-top: 25px;
    /* border: 5px solid yellowgreen; */

}

.instructions p{
    margin:0px;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 15px;
    color: var(--color-gold-gray2);
}

.message-buttons {

    display: flex;
    flex-direction: column;
    align-items: center;
   width: 75%;
   height: 85%;
   margin: 0 auto;
   max-width: 800px;
   max-height: 600px;
    justify-content: space-evenly;
    /* border: 5px solid blue; */  
}


h1 {
letter-spacing: 3px;
font-size: 1.75em;
padding-top: 0px;
margin: 0px 0px 0px 0px;

}

.title {
    font-size: 2.5em;
    letter-spacing: 5px;
    text-shadow: -2px 2px 0 black,
    -3px 3px 0 black;
}

.dice-image {
background-color: var(--color-white);
width: 120px;
height: 120px;
border-radius: 5px;
align-self: center;
background-image: url("dice1.svg");
background-size: 100%; 
}




.container-1 {
    display: flex;
    justify-content: center;
    align-self: stretch;
    flex: 1;
     /* border: 5px solid yellowgreen; */
}
.container-2 {
    
    display: flex;
    justify-content: center;
    flex: 1;
     /* border: 5px solid red; */
}
.players {
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 1;
}

.player {
    align-self: center;
    justify-self: center ;
   
}
.dice {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: var(--color-black);
    margin: 0 auto;
    margin-top: 30px;
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}


button {
    color: #fff;
    padding: 15px 20px 15px 20px;
    font-size: 20px;
    /* margin-top: 40px;
    margin-bottom: 40px; */
    border: none;
    /* border-radius: 5px; */
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-black);
    letter-spacing: 3px;

}

button:hover {
    color: var(--color-gold);
    
}

button:focus {
    outline: none;
  
}

#rollBtn {
    
}


#resetBtn {
    display: none;
}

.active {
    box-shadow:
    0 0 0 6px var(--color-orange),
    0 0 0 12px var(--color-black);
    /* box-shadow: -2px 6px 18px 3px rgba(0,0,0,0.75); */
}

.active2 {
    background-color: var(--color-orange-highlight);
}

.active2 {
    background-color: var(--color-orange);
}

.dice-image1 {
    background-image: url("assets/dice1.svg");
    background-size: 100%; 
}
.dice-image2 {
    background-image: url("assets/dice2.svg");
    background-size: 100%; 
}
.dice-image3 {
    background-image: url("assets/dice3.svg");
    background-size: 100%; 
}
.dice-image4 {
    background-image: url("assets/dice4.svg");
    background-size: 100%; 
}
.dice-image5 {
    background-image: url("assets/dice5.svg");
    background-size: 100%; 
}
.dice-image6 {
    background-image: url("assets/dice6.svg");
    background-size: 100%; 
}

.break {
    display: none;
}


@media (max-width: 749px) {
   
   .wrapper {
       flex-direction: row;
       min-width: 500px;
   }

   .message-buttons {
z-index: 1;
background-color: var(--color-black);
text-align: center;
margin-right: 24px;
box-shadow:
0 0 0 8px var(--color-black),
0 0 0 16px var(--color-black);
   }

   .title {
    font-size: 2em;
    letter-spacing: 4px;
    text-shadow: -2px 2px 0 var(--color-gold-gray2),
    -3px 3px 0 var(--color-gold-gray2);
   }

   h1 {
       font-size: 1.2em;
   }

   .rollBtn{
       background-color: var(--color-gold-black);
   }

   .resetBtn{
    background-color: var(--color-gold-black);
}

.container-1 {
    padding-bottom: 6em;
}
.container-2 {
    padding-bottom: 6em;
}

.dice {
margin-top: .8em;
}

.break {
    display: inline;
}

.instructions {
    display: none;
}
}

@media (min-width: 750px) {
 
    .message-buttons {
 z-index: 2;
 position: absolute;

    }


    .dice-image {
        margin-top: 1em;
    }
    .buttons {
        padding-bottom: 3.5em;

    }
 }